@tailwind base;
@tailwind components;
@tailwind utilities;

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
	left: inherit !important;
	right: 1.75rem !important;
	transform-origin: right !important;
}

::-webkit-scrollbar {
	width: 0.5rem;
}
/* ::-webkit-scrollbar-track {
	background-color: black;
} */
::-webkit-scrollbar-thumb {
	background-color: rgba(3, 100, 117, 0.275);
}

.css-1ygcj2i-MuiTableCell-root,
.css-1azl6jz-MuiTableCell-root {
	color: rgb(0, 0, 0) !important;
	font-weight: bold !important;
}
.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
	height: 50% !important;
	padding: 0.5rem !important;
	/* box-shadow: 2px 3px 6px 2px #ea3939e3 !important; */
}
.css-18k87ye-MuiTypography-root {
	display: flex !important;
	color: #000000 !important;
}
